DB_HOST=127.0.0.1
DB_USER=
DB_PASS=
DB_LOCAL_NAME=dokter_reminder
DB_RSIKLATEN_NAME=db_67
DB_RSI_BYL_NAME=rsi_byl
DB_RME_NAME=rme
LAB_GATEWAY_PORT=9000
IJIN_GATEWAY_PORT=3000
REMINDER_GATEWAY_PORT=3210
LAB_PDF_BASE_URL=http://192.168.0.16/serverx/assets/rme/pdf/172.16.18.18/
CHAT_INCOMING_URL=http://127.0.0.1/WA_GATEWAY_RSUIK_25092026_FIKS/api/chat/incoming.php
